node_modules/
.DS_Store
package-lock.json
packages/*/*/test/dist
packages/*/*/test/input
coverage
.nyc_output
.cache
dist
lib
!packages/*/*/test/**/node_modules
.vscode/
.idea/
*.min.js
packages/*/*/test/integration/**/elm-stuff
packages/*/*/test/integration/**/target
packages/*/*/test/integration/**/Cargo.lock
packages/*/*/test/**/node_modules
packages/*/*/test/**/yarn.lock
packages/*/*/test/**/package-lock.json
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
