[package]
authors = ["Devon Govett <devongovett@gmail.com>"]
name = "parcel-js-swc-core"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["rlib"]

[dependencies]
swc_core = { version = "0.86.83", features = [
  "common",
  "common_ahash",
  "common_sourcemap",
  "ecma_ast",
  "ecma_codegen",
  "ecma_parser",
  "ecma_preset_env",
  "ecma_transforms",
  "ecma_transforms_compat",
  "ecma_transforms_optimization",
  "ecma_transforms_proposal",
  "ecma_transforms_react",
  "ecma_transforms_typescript",
  "ecma_visit",
] }
indoc = "1.0.3"
serde = "1.0.123"
serde_bytes = "0.11.5"
Inflector = "0.11.4"
data-encoding = "2.3.2"
sha-1 = "0.10.0"
dunce = "1.0.1"
pathdiff = "0.2.0"
path-slash = "0.1.4"
indexmap = "1.9.2"
