.parcel-container {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.parcel-heading {
  font-family: system-ui;
  color: #e6daca;
  margin: auto;
}

.parcel-logo {
  margin-bottom: 60px;
}

.parcel-box {
  position: relative;
  height: 474px;
  width: 600px;
}

.parcel-box-front {
  position: absolute;
  top: 0;
  left: 0;
}
