* {
  box-sizing: border-box;
}
html,
body,
main {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  min-width: 20em;
  min-height: 10em;
}
main {
  padding: 1em .5em;
  display: grid;
  place-items: center;
}
