html {
  box-sizing: border-box;
  font-family: sans-serif;
}
* {
  box-sizing: inherit;
}
html,
body,
#root,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
}

#app {
  display: flex;
  width: 100%;
  height: 100%;
}

.row {
  width: 50%;
  padding: 0.8em;
}
.row > * {
  margin-bottom: 0.5em;
  width: 100%;
}
.row > .presets {
  font-size: inherit;
}
.file {
  border: 0.15em solid #ddd;
}
.file > * {
  width: 100%;
}
.file > .header {
  padding: 0.3em;
  border-bottom: inherit;
}
.file > .header:focus {
  outline: none;
}
.file > .header > .setEntry {
  float: right;
}
.file > .header > .remove {
  float: right;
  margin-left: 0.3em;
}
.file > .header > .outputSize {
  float: right;
}

.file > .source .CodeMirror {
  height: auto;
}
.row > button {
  width: 100%;
  font-size: 1em;
  padding: 0.4em;
  background-color: #ddd;
  cursor: pointer;
}
.row > .start {
  cursor: initial;
}
.row > .start:enabled {
  cursor: pointer;
}
.row > .start:enabled:active {
  background-color: #bbb;
}

.options > label {
  padding: 0.3em;
  display: block;
}
.options > label > input {
  float: right;
}

.output {
  width: 50%;
}
.error {
  white-space: pre;
  font-family: monospace;
  overflow-y: scroll;

  color: red;

  padding: 0.3em;
}
