name: Continuous Integration

on:
  merge_group:
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          cache: yarn
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
          components: rustfmt
      - run: yarn --frozen-lockfile
      - run: yarn lint

  flow:
    name: Flow
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          cache: yarn
      - run: yarn --frozen-lockfile
      - run: yarn flow check

  ts-types:
    name: TypeScript types
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          cache: yarn
      - run: yarn --frozen-lockfile
      - run: yarn build-ts

  unit_tests:
    name: Unit tests (${{ matrix.os }}, Node ${{ matrix.node }})
    strategy:
      matrix:
        node: [18, 20]
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          cache: yarn
          node-version: ${{ matrix.node }}
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
      - uses: Swatinem/rust-cache@v2
        with:
          shared-key: ${{ matrix.os }}
      - name: Bump max inotify watches (Linux only)
        if: ${{ runner.os == 'Linux' }}
        run: echo fs.inotify.max_user_watches=524288 | sudo tee -a /etc/sysctl.conf && sudo sysctl -p;
      - run: yarn --frozen-lockfile
      - run: yarn build-native-release
      - run: yarn test:unit
      - name: Upload @atlaspack/rust artifacts on Linux with Node v20
        if: ${{ runner.os == 'Linux' && matrix.node == 20 }}
        uses: actions/upload-artifact@v3
        with:
          name: Rust Linux Binaries
          path: |
            packages/core/rust/index.d.ts
            packages/core/rust/index.js
            packages/core/rust/*.node

  integration_tests:
    name: Integration tests (${{ matrix.version == 'v3' && 'v3, ' || '' }}${{ matrix.os }}, Node ${{ matrix.node }})
    strategy:
      matrix:
        node: [18, 20]
        os: [ubuntu-latest, macos-latest]
        version: [v2, v3]
      # These tend to be quite flakey, so one failed instance shouldn't stop
      # others from potentially succeeding
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          cache: yarn
          node-version: ${{ matrix.node }}
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
      - uses: Swatinem/rust-cache@v2
        with:
          shared-key: ${{ matrix.os }}
      - name: Bump max inotify watches (Linux only)
        run: echo fs.inotify.max_user_watches=524288 | sudo tee -a /etc/sysctl.conf && sudo sysctl -p;
        if: ${{ runner.os == 'Linux' }}
      - run: yarn --frozen-lockfile
      - run: yarn build-native-release
      - run: yarn build
      - run: yarn test:integration-ci
        env:
          ATLASPACK_V3: ${{ matrix.version == 'v3' && 'true' || 'false' }}

  repl:
    name: Deploy REPL
    if: false # ${{ github.event_name == 'pull_request' }}
    uses: ./.github/workflows/repl.yml
    permissions:
      contents: read
      deployments: write
    secrets: inherit
    with:
      alias-domains: |
        pr-{{PR_NUMBER}}.repl.atlaspack.org
      environment: Preview
