on: pull_request

name: Test

jobs:
  prBenchmarks:
    name: PR Benchmarks
    runs-on: ubuntu-latest
    steps:
      - name: PR Benchmarks
        uses: parcel-bundler/parcel-benchmark-action@master
        env:
          PARCEL_BENCHMARK_APIKEY: ${{ secrets.PARCEL_BENCHMARK_APIKEY }}

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          cache: yarn
      - uses: actions-rs/toolchain@v1
      - uses: Swatinem/rust-cache@v1
      # use `--frozen-lockfile` to fail immediately if the committed yarn.lock needs updates
      # https://yarnpkg.com/lang/en/docs/cli/install/#toc-yarn-install-frozen-lockfile
      - run: yarn --frozen-lockfile
      - run: yarn lint

  flow:
    name: Flow
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          cache: yarn
      - run: yarn --frozen-lockfile
      - run: yarn flow check

  benchmarks:
    name: Benchmarks
    runs-on: ubuntu-latest
    steps:
      - name: PR Benchmarks
        uses: parcel-bundler/parcel-benchmark-action@master
        env:
          PARCEL_BENCHMARK_APIKEY: ${{ secrets.PARCEL_BENCHMARK_APIKEY }}

  unit_tests:
    name: Unit tests (${{matrix.os}}, Node ${{matrix.node}})
    strategy:
      matrix:
        node: [12, 14]
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{matrix.os}}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          cache: yarn
          node-version: ${{matrix.node}}
      - uses: actions-rs/toolchain@v1
      - uses: Swatinem/rust-cache@v1
      # Bump max inotify watches on Linux
      - run: echo fs.inotify.max_user_watches=524288 | sudo tee -a /etc/sysctl.conf && sudo sysctl -p;
        if: ${{matrix.os == 'ubuntu-latest'}}
      - run: yarn --frozen-lockfile
      - run: yarn build-native-release
      - run: yarn test:unit

  integration_tests:
    name: Integration tests (${{matrix.os}}, Node ${{matrix.node}})
    strategy:
      matrix:
        node: [12, 14]
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{matrix.os}}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          cache: yarn
          node-version: ${{matrix.node}}
      - uses: actions-rs/toolchain@v1
      - uses: Swatinem/rust-cache@v1
      # Bump max inotify watches on Linux
      - run: echo fs.inotify.max_user_watches=524288 | sudo tee -a /etc/sysctl.conf && sudo sysctl -p;
        if: ${{matrix.os == 'ubuntu-latest'}}
      - run: yarn --frozen-lockfile
      - run: yarn build-native-release
      - run: yarn test:integration-ci
